<div class="flex flex-col h-[100px] border border-white rounded-xl p-4 mb-3">
	<div class="flex">
		<%= render Components::UserPreview.new(selfi: 'end', font_size: "xl") do |p| %>
			<%= p.avatar(comment.user.config.avatar, circle_size: 'md') %>
			<%= p.text { comment.user.username } %>
		<% end %>

		<span class="text-stone-300 text-nowrap"><%= date_handler(comment.created_at) %> ago</span>
	</div>
	<p class="text-white"><%= comment.content %></p>
</div>
