<%= turbo_frame_tag "modal_user_config" do %>
	<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

		<div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

		<div class="fixed inset-0 z-10 w-screen overflow-y-auto">
			<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0" data-controller="cropper">
				<%= form_with(model: @user, url: dashboard_user_settings_path, local: true, data: { action: "cropper#postData"}) do |f| %>
					<div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
						<div class="bg-post-wrapper px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
							<div class="sm:flex sm:items-start">
								<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left" id="teste">

									<div class="flex flex-col">
										<%= f.label "Username", class: "text-post-title text-start" %>
										<%= render Components::Input.new(form: f) do |input| %>
											<%= input.icon("square-pen") %>
											<%= input.field(name: "username", value: @user.username, placeholder: "Your e-mail", valud: @user.username, type: "text") %>
										<% end %>
									</div>

									<div class="flex flex-col">
										<%= f.label "E-mail", class: "text-post-title text-start" %>
										<%= render Components::Input.new(form: f) do |input| %>
											<%= input.icon("user-pen") %>
											<%= input.field(name: "email_address", id: "email_address", value: @user.email_address, placeholder: "Your e-mail", type: "text") %>
										<% end %>
									</div>

									<div id="img-preview" class="hidden" data-cropper-target="preview">
									</div>

									<div class="flex flex-col">
										<%= f.label "Avatar", class: "text-post-title text-start" %>

										<%= render Components::Input.new(form: f) do |input| %>
											<%= input.icon("user-pen") %>
											<%= f.file_field :avatar, class: "flex-1 outline-0 placeholder-gray-400 text-white py-2", data: {cropper_target: "avatar", action: "cropper#handleAvatarUpload"} %>
										<% end %>
									</div>

								</div>
							</div>
						</div>
						<div class="bg-post-wrapper px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
							<%= link_to "Cancel", request.referer, class: "inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto me-1" %>
							<%= f.submit "Update", class: "preview-result mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto me-1" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
