<!DOCTYPE html>
<html>
<head>
	<title><%= content_for(:title) || "Rey Socialmedia" %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= yield :head %>

	<%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
	<%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

	<link rel="icon" href="/icon.png" type="image/png">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/icon.png">

	<%# Includes all stylesheet files in app/assets/stylesheets %>
	<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
	<%= javascript_importmap_tags %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
	<%= javascript_include_tag "https://unpkg.com/lucide@latest" %>
</head>
	<body style="background-image: url('<%= asset_path("background.png") %>');">
		<%= render Components::Nav.new do |nav| %>
			<%= nav.brand(dashboard_index_path) { "RailsSocialMedia" } %>

			<% if authenticated? %>
				<div class="flex items-between">
					<%= nav.item(href: dashboard_posts_path) { "Discover" } %>
					<%= nav.item(href: dashboard_posts_path) { "Posts" } %>
					<%= nav.item(href: dashboard_posts_path) { "Friends" } %>
				</div>

	      <%= render Components::Button.new(name: "Log out", url: session_path, method: :delete) %>
				<%#= nav.item() { "Log in"} %>
			<% else %>
				<%= render Components::Button.new(name: "Log in", url: new_session_path, method: :get) %>
			<% end %>
		<% end %>
		<%= yield %>
	</body>
</html>
