<!DOCTYPE html>
<html>
<head>
	<title><%= content_for(:title) || "Rey Socialmedia" %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= yield :head %>

	<%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
	<%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

	<link rel="icon" href="/icon.png" type="image/png">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/icon.png">

	<%# Includes all stylesheet files in app/assets/stylesheets %>
	<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
	<%= javascript_importmap_tags %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<%#= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
	<%= javascript_include_tag "https://unpkg.com/lucide@latest/dist/umd/lucide.js" %>
	<%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
	<body style="background-image: url('<%= asset_path("background.png") %>');">
		<%= render Components::Nav.new do |nav| %>
			<%= nav.brand(dashboard_index_path) { "RailsSocialMedia" } %>

			<% if authenticated? %>
				<div class="flex items-between">
					<%= nav.item(href: dashboard_index_path) { "Discover" } %>
					<%= nav.item(href: dashboard_user_posts_path) { "Posts" } %>
					<%= nav.item(href: dashboard_user_friend_ship_path) { "Friends" } %>
				</div>

				<div class="flex items-between">
					<%= nav.item_icon(icon: "user-cog", href: edit_dashboard_user_settings_path, data: {turbo_frame: "modal_user_config"}) %>

					<%= button_to "Log out", session_path, method: :delete, class: "button" %>
				</div>
			<% else %>
				<%= link_to "Log in", new_session_path, class: "button" %>
			<% end %>
		<% end %>
 		<% if flash[:alert] || flash[:notice] %>
			<p class="<%= flash[:alert] ? 'text-red-200' : 'flash-green-200' %>"><%= flash[:alert] || flash[:notice] %></p>
		<% end %>
		<%= yield %>
		<%= turbo_frame_tag "modal_user_config" %>
		<%= javascript_include_tag "https://unpkg.com/lucide@latest/dist/umd/lucide.js" %>
		<script>
			lucide.createIcons()

      document.addEventListener('turbo:frame-load', (event) => {
          lucide.createIcons()
			})


      document.addEventListener('turbo:before-stream-render', (event) => {
          setTimeout(() => {
              lucide.createIcons()
					}, 100)
      })
		</script>
	</body>
</html>
